<div class="card" [ngClass]="{'shadow-lg': t.isEditMode, 'completed': (t.todoStatus == 'Completed')}" *ngFor="let t of todos;  let i = index">
    <div class="card-header">
      <h5 class="m-0" [contentEditable]="t.isEditMode">{{t.title}}</h5>
      <span *ngIf="t.todoStatus=='Completed'" class="badge bg-info">COMPLETED</span>
    </div>
    <div class="card-body">

      <!-- <input [(ngModel)]="t.description" [name]="'name-' + t.id" />
      <p class="card-text" [contentEditable]="true"> {{ t.description }}</p> -->
      <textarea aria-multiline="false" *ngIf="t.isEditMode" class="form-control mb-3" [(ngModel)]="t.description"></textarea>

      <p *ngIf="!t.isEditMode" style="white-space: pre-line;" (input)="onContentChange($event, i)" class="card-text" [contentEditable]="t.isEditMode">
        {{t.description}}
      </p>

    <app-todo-action-buttons [localTodo]="t" (callEdit)="edit($event)" (callCompleted)="complete($event)"></app-todo-action-buttons>
    </div>
  </div>